{% extends "base.html" %}
{% block content %}
<!-- Your error message logic and HTML here. -->
{% if error %}
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% else %}
        <p>Something went wrong. Please try again.</p>
    {% endif %}
{% endif %}

<form method="post">
    <label for="username">Username</label>
    <input id="username" type="text" name="username">
    <label for="username">Password</label>
    <input id="password" type="text" name="password">
    <input type="submit" value="Login">
</form>
{% endblock content %}

